In [61]:
import pandas as pd

<p><b>Some steps to take into account , We can go through the spam messages and look for common words that have appeared. For words who didnt appear, we can use laplace smoothing.</b></p>

In [69]:
spamCollection =  pd.read_csv('Assets/SMSSpamCollection', sep = '\t' , header = None, names=['Label', 'SMS'])
print(spamCollection.shape)
spamCollection.head()

(5572, 2)

  Label                                                SMS
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [70]:
allSpamMessages = spamCollection[spamCollection.Label == 'spam']
allSpamMessages.head()

   Label                                                SMS
2   spam  Free entry in 2 a wkly comp to win FA Cup fina...
5   spam  FreeMsg Hey there darling it's been 3 week's n...
8   spam  WINNER!! As a valued network customer you have...
9   spam  Had your mobile 11 months or more? U R entitle...
11  spam  SIX chances to win CASH! From 100 to 20,000 po...

In [71]:
from sklearn.feature_extraction.text import CountVectorizer


corpus = allSpamMessages.SMS.reset_index(drop = True)
corpus.head()
corpus = list(corpus)
corpus[0:2]

["Free entry in 2 a wkly comp to win FA Cup final tkts 21st May 2005. Text FA to 87121 to receive entry question(std txt rate)T&C's apply 08452810075over18's",
 "FreeMsg Hey there darling it's been 3 week's now and no word back! I'd like some fun you up for it still? Tb ok! XxX std chgs to send, £1.50 to rcv"]

In [72]:
vectorizer = CountVectorizer(stop_words = ["all", "in", "the", "is" "and", "I", "you", "this", "there"])
matrix = vectorizer.fit_transform(corpus)
result = pd.DataFrame(matrix.toarray(), columns = vectorizer.get_feature_names_out())
result

,00,000,008704050406,0089,0121,01223585236,01223585334,02,0207,02072069400,...,yourinclusive,yours,yourself,yr,yrs,zebra,zed,zoe,zouk,ú1
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
742,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
743,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
744,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
745,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
746,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

<p>Let's remove strings which are not alphabets. (Non- alphabetic removal)</p>

In [73]:
print(corpus[0])

Free entry in 2 a wkly comp to win FA Cup final tkts 21st May 2005. Text FA to 87121 to receive entry question(std txt rate)T&C's apply 08452810075over18's

In [74]:
for index, sentence in enumerate(corpus):
    currentSentence = sentence 
    currentSentenceList = currentSentence.split()
    newSentence = filter(lambda x: x.isalpha(), currentSentenceList)
    joinedNewSentence = " ".join(newSentence)
    corpus[index] = joinedNewSentence

In [76]:
print(corpus[0:10])

['Free entry in a wkly comp to win FA Cup final tkts May Text FA to to receive entry txt apply', 'FreeMsg Hey there darling been now and no word like some fun you up for it Tb XxX std chgs to to rcv', 'As a valued network customer you have been selected to receivea prize To claim call Claim code Valid hours', 'Had your mobile months or U R entitled to Update to the latest colour mobiles with camera for Call The Mobile Update Co FREE on', 'SIX chances to win From to pounds and send to Cost TsandCs apply Reply HL info', 'You have won a week FREE membership in our Prize Txt the CLAIM to LCCLTD POBOX', 'To use your click the WAP link in the next txt message or click', 'England v Macedonia dont miss the Txt ur national team to eg ENGLAND to SCOTLAND', 'Thanks for your subscription to Ringtone UK your mobile will be charged Please confirm by replying YES or If you reply NO you will not be charged', 'Rodger Burns MSG We tried to call you re your reply to our sms for a free nokia mobile free Please call now for delivery tomorrow']

<p>Now we can perform vectorization to check</p>

In [86]:
vectorizer = CountVectorizer(stop_words = ["all", "in", "the", "is" "and", "I", "you", "this", "there", "to", "your", "for", "or"])
matrix = vectorizer.fit_transform(corpus)
result = pd.DataFrame(matrix.toarray(), columns = vectorizer.get_feature_names_out())
result

,about,abroad,abta,ac,access,accident,accommodation,accommodationvouchers,account,action,...,ymca,yo,yourinclusive,yours,yr,yrs,zebra,zed,zoe,zouk
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
742,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
743,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
744,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
745,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
746,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [91]:
df = pd.DataFrame(result.sum(axis = 0), columns= ['frequency'])
df = df.sort_values(by = "frequency", ascending= False)

In [92]:
df.head(50)

          frequency
call            342
free            180
is              152
ur              144
on              142
txt             136
have            135
from            127
and             122
text            112
mobile          109
with            108
claim           106
reply           101
of               95
now              93
stop             90
our              85
get              82
are              80
just             78
new              69
send             66
only             66
nokia            64
won              64
win              58
prize            58
contact          56
cash             56
please           52
be               50
service          48
we               48
out              47
who              44
per              44
been             43
will             43
customer         40
tone             40
chat             39
awarded          38
draw             37
latest           36
by               36
phone            34
as               34
every            33
box              33